Raja_Gopal/Day-04/Rajagopal_Pillai. Email_Classifier_Labeller_Draft_generation_fetching.json
{
  "name": "Email_Classifier_Labeller_Draft_generation_fetching",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        112
      ],
      "id": "79f7e883-88c8-41e4-aeca-0b05bf79477b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "FHYSqM5MOC503XY4",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Body- {{ $json.snippet }}\n\nSubject- {{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Important Emails",
              "description": "Any email which requires attention from learners, college staff members, courses inquiries, mentoring help needed etc. requiring any services and consultancy or advisory for my AI expertise. "
            },
            {
              "category": "News Letters",
              "description": "Any email which is a newsletter containing updates and news of any product and services should be classified in this category"
            },
            {
              "category": "Promotional",
              "description": "Any email having promotional thing and just a redundant email telling about their product and services or updates and offers"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -528,
        176
      ],
      "id": "e63b298e-27e0-4321-9d20-51c57b98fd7f",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_3909389929911741162"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -144,
        240
      ],
      "id": "3bd5a473-88a1-49c6-bfa6-aa689ad5b811",
      "name": "Add label to message1",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "2bBNf2AOqPAanoMX",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4275531974797102860",
          "Label_3410947367156789350"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -128,
        416
      ],
      "id": "d6f20851-49ec-489a-a2a3-07b27e826775",
      "name": "Add label to message2",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "2bBNf2AOqPAanoMX",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add label to message').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        272
      ],
      "id": "c83130a5-4344-4e50-95dc-20b60b606b82",
      "name": "Reply to a message",
      "webhookId": "ee44a0c1-578a-413c-b5aa-c626e9f72d9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "2bBNf2AOqPAanoMX",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.message.content }}{{ $('Text Classifier').item.json.snippet }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        544,
        64
      ],
      "id": "87016aea-4c9d-49eb-ab68-ab4203933e76",
      "name": "Create a draft",
      "webhookId": "7e9209d3-5fdd-449f-be62-452bd9183d8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "2bBNf2AOqPAanoMX",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -576,
        432
      ],
      "id": "30e84276-5deb-4991-bf5d-814f85c0c923",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ad0xWzUVtlebJh4P",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        336,
        320
      ],
      "id": "af17931c-91cc-4d5e-bdf4-0fa8b89f2f3c",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "ad0xWzUVtlebJh4P",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<Prompt> \\n\\nThe email body is- {{ $('Gmail Trigger').item.json.snippet }}\\n\\nAlways end your email with Thanks & Regards\\n<Name>\\nDon't give me subject in output\\n\\nOther Instruction-\\nAbout my company- \\nAbout the role",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        128,
        48
      ],
      "id": "6ebfb5a1-d446-4f8c-a963-578c962a3c41",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4124779039576059114",
          "Label_4205600639099040178",
          "Label_5567433181074749848"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -112,
        48
      ],
      "id": "6a9a7a2e-39e8-4f5b-9d41-ea8b9bc4d41d",
      "name": "Add label to message",
      "webhookId": "c5c1431b-4c6a-44e0-8b0f-3b0cb4eff8fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "2bBNf2AOqPAanoMX",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d6620f59-efb7-4543-b2b3-7d922a2eba16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e7652fe42c1858e2683de207e4582aede0227e5ff649395188115905af0259d4"
  },
  "id": "5O2sTgjq6aaYmqMA",
  "tags": [
    {
      "name": "AI Email Management",
      "id": "ojP4n3KXfrwkYUJq",
      "updatedAt": "2026-03-27T00:44:57.616Z",
      "createdAt": "2026-03-27T00:44:57.616Z"
    }
  ]
}
