Gurmeet_Singh/assign3-EmailClassifier-n8n.json
{
  "name": "Email_Classifier_Labeller_Draft_generation_fetching",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -688,
        64
      ],
      "id": "826b77db-e971-4a82-b32f-474c53008aca",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "J28OkTHa6p3xYiZQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "=Body- {{ $json.snippet }}\n\nSubject- {{ $json.Subject }}",
        "categories": {
          "categories": [
            {
              "category": "Important Emails",
              "description": "Any email which requires attention from learners, college staff members, courses inquiries, mentoring help needed etc. requiring any services and consultancy or advisory for my AI expertise. "
            },
            {
              "category": "News Letters",
              "description": "Any email which is a newsletter containing updates and news of any product and services should be classified in this category"
            },
            {
              "category": "Promotional",
              "description": "Any email having promotional thing and just a redundant email telling about their product and services or updates and offers"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -416,
        128
      ],
      "id": "fecbcaca-683a-466e-b786-c731f39cf600",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_3909389929911741162"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -32,
        192
      ],
      "id": "7dae10e5-5be2-4377-9a83-bf10e51845b8",
      "name": "Add label to message1",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "J28OkTHa6p3xYiZQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4275531974797102860",
          "Label_3410947367156789350"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -16,
        368
      ],
      "id": "e4ed45b2-d61c-4315-b8f4-8bef5dd3dbe8",
      "name": "Add label to message2",
      "webhookId": "66611990-c15c-4959-b3de-6fed71c022e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "J28OkTHa6p3xYiZQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_4566513039316821874"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "584c5d7f-4d62-437e-ad2b-3a24fa63c221",
      "name": "Add label to message",
      "webhookId": "c5c1431b-4c6a-44e0-8b0f-3b0cb4eff8fb",
      "credentials": {
        "gmailOAuth2": {
          "id": "J28OkTHa6p3xYiZQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Add label to message').item.json.id }}",
        "emailType": "text",
        "message": "={{ $json.message.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        624,
        224
      ],
      "id": "baf2d107-f1dd-4088-9147-77846f4b527f",
      "name": "Reply to a message",
      "webhookId": "ee44a0c1-578a-413c-b5aa-c626e9f72d9a",
      "credentials": {
        "gmailOAuth2": {
          "id": "J28OkTHa6p3xYiZQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $('Gmail Trigger').item.json.Subject }}",
        "message": "={{ $json.output }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        656,
        16
      ],
      "id": "4657fc61-011c-4a4f-8911-b079d58fff0e",
      "name": "Create a draft",
      "webhookId": "7e9209d3-5fdd-449f-be62-452bd9183d8e",
      "credentials": {
        "gmailOAuth2": {
          "id": "J28OkTHa6p3xYiZQ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -320,
        352
      ],
      "id": "54d5f04a-1f57-4851-9daf-dced7ca1efb1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "YrS36sZDyMMgJe2K",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        288,
        320
      ],
      "id": "bdee58c5-49d7-48d1-976f-dd2bf3f17728",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "YrS36sZDyMMgJe2K",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Email -  {{ $('Gmail Trigger').item.json.snippet }}\nSubject - {{ $('Gmail Trigger').item.json.Subject }}",
        "options": {
          "systemMessage": "<Prompt> \n\nThe email body is- {{ $('Gmail Trigger').item.json.snippet }}\n\nAlways end your email with Thanks & Regards\n<Name>\nDon't give me subject in output\n\nOther Instruction-\nAbout my company- \nAbout the role"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        48
      ],
      "id": "d6f9c0aa-ebad-4ce9-955f-f5d5a03d8657",
      "name": "Email Response Drafter"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Add label to message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add label to message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add label to message": {
      "main": [
        [
          {
            "node": "Email Response Drafter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Response Drafter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email Response Drafter": {
      "main": [
        [
          {
            "node": "Create a draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e258747a-59b6-4481-9da2-3da46aade905",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9c44237d8a5b55826f64551c06151857711a491760f6e3661a118d21807a0c72"
  },
  "id": "b3nqe3lStIjf1wmK",
  "tags": []
}